django-weasyprint==2.2.1
dload==0.6
h5py==3.9.0
ipykernel==6.25.1
ipython==8.14.0
jupytext==1.15.0
matplotlib==3.7.2
mdx-truly-sane-lists==1.3
mike==1.1.2
mkdocs-awesome-pages-plugin==2.9.2
mkdocs-material==9.2.3
mkdocs-with-pdf==0.9.3
mkdocs==1.5.2
numpy==1.25.2
openpyxl==3.1.2
pandas==2.0.3
pymdown-extensions==10.1
recommonmark==0.7.1
setuptools==68.1.2
