django-weasyprint==2.4.0
dload==0.6
h5py==3.14.0
mdx-truly-sane-lists==1.3
mike==2.1.3
mkdocs-awesome-pages-plugin==2.10.1
mkdocs-jupyter==0.25.1
mkdocs-with-pdf==0.9.3
openpyxl==3.1.5
pandas==2.3.0
pydantic==2.11.5
recommonmark==0.7.1
sectionproperties==3.9.0
