django-weasyprint==2.2.2
dload==0.6
h5py==3.10.0
ipykernel==6.27.1
ipython==8.18.1
jupytext==1.16.0
matplotlib==3.8.2
mdx-truly-sane-lists==1.3
mike==2.0.0
mkdocs-awesome-pages-plugin==2.9.2
mkdocs-material==9.5.2
mkdocs-with-pdf==0.9.3
mkdocs==1.5.3
numpy==1.26.2
openpyxl==3.1.2
pandas==2.1.4
pymdown-extensions==10.5
recommonmark==0.7.1
sectionproperties==3.1.2
setuptools==69.0.3
